@import url(//fonts.googleapis.com/css?family=Cabin:400,700);
@import url(//fonts.googleapis.com/css?family=Special+Elite:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
.reveal {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  /* Blow iframe up to full screen size */ }
  .reveal section img {
    /* Disable background 4px border around images */
    border: none;
    background: none;
    /* Blow image up to full screen size */
    height: auto;
    width: 100%;
    max-width: 80%;
    max-height: 80%;
    margin: 2%; }
  .reveal iframe {
    height: 90%;
    width: 100%;
    margin: 2%; }
  .reveal h1 {
    font-size: 5em; }
  .reveal h2 {
    font-size: 3em; }
  .reveal h3 {
    font-size: 1.5em; }
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .reveal .progress span {
    background-color: black; }
  .reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
    border-bottom-color: black; }
  .reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
    border-top-color: black; }
  .reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
    border-right-color: black; }
  .reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
    border-left-color: black; }
  .reveal a {
    font-family: "Special Elite", monospace !important; }
  .reveal code {
    font-family: "Special Elite", monospace !important;
    color: black !important;
    text-shadow: none;
    text-transform: none; }
  .reveal pre code {
    font-family: "Source Code Pro", monospace !important;
    background: inherit !important;
    text-shadow: none;
    text-transform: none; }
  .reveal .stamp {
    position: absolute;
    color: red !important;
    font-size: 6em !important;
    font-family: "Special Elite" !important;
    transform: rotate(-45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20vw;
    margin-top: -10vh;
    text-shadow: none; }

@media print {
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: black; } }
