[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "qrcodejs"]
	path = qrcodejs
	url = https://github.com/davidshimjs/qrcodejs
[submodule "reveal.js-menu"]
	path = reveal.js-menu
	url = https://github.com/denehyg/reveal.js-menu
[submodule "highlight.js"]
	path = highlight.js
	url = https://github.com/isagalaev/highlight.js
